<h1><%= @list.name %></h1>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<%= link_to "Back to lists", lists_path %>

<% if @bookmarks.length > 0 %>
  <br>
  <br>
  <br>
  <br>
  <h2>Movies in this list:</h2>
  <br>
  <% @bookmarks.each do |bookmark| %>
    <div class="bookmark-in-list">
      <h3> <%= bookmark.movie.title %> </h3>
      <p> <%= bookmark.comment %></p>
      <p> <%= bookmark.created_at %></p>
    </div>
  <% end %>
<% end %>
